@font-face {
  font-family: 'Raleway500';
  src: url('../../fonts/ralewaymedium.woff2') format('woff2'),
    url('../../fonts/ralewaymedium.woff') format('woff'),
    url('../../fonts/ralewaymedium.ttf') format('truetype'),
}

.infoWrapper {
  box-sizing: border-box;
  position: relative;
  color: #ffffff;
  background: rgba(62, 62, 62, 0.9);
  width: 55%;
  padding-left: 6.6%;
  padding-top: 1.4%;
  padding-bottom: 2.8%;

  &:after {
    content: '';
    position: absolute;
    ;
    width: 2px;
    height: 85%;
    background-color: #E4B56B;
    top: 0;
    left: 85%;
  }
}

.wrapper {
  margin-bottom: 30px;
  padding-top: 60px;
  padding-bottom: 60px;

  &:nth-of-type(2n) {
    margin-bottom: 0;

    .infoWrapper {
      margin-left: auto;
      padding-left: 115px;
      // border-right: 2px solid #E4B56B;

      &:after {
        content: '';
        position: absolute;
        ;
        width: 2px;
        height: 85%;
        background-color: #E4B56B;
        top: 0;
        left: 70px;
      }
    }
  }
}

.title {
  font-family: 'Raleway500';
  font-size: 40px;
  line-height: 60px;
  margin-bottom: 25px;
}

.text {
  margin: 0;
  width: 73%;
  font-family: 'Raleway500';
  font-size: 18px;
  line-height: 23px;
}

@media screen and (max-width: 1359px) {
  .wrapper {
    padding-top: 28px;
    padding-bottom: 28px;

    &:nth-of-type(2n) { 
      .infoWrapper {
        // width: 91%;
        padding-left: 60px;

        &:after {
          left: 7%;
        }
      }
    }
  }

  .infoWrapper {
    width: 91%;

    &:after {
      left: 93%;
    }

    
  }

  .text {
    font-size: 12px;
    line-height: 16px;
    
  }

  .title {
    font-size: 20px;
    line-height: 23px;
  }
}
