.language {
  display: inline;
  position: relative;
}

.button {
  border: none;
  background-color: inherit;
}

.flag {
  margin-right: 10px;
}

.svg {
  margin-top: 5px;
  vertical-align: top;
  transition: all 0.5s;
}

.box {
  position: absolute;
  z-index: 9999;
  top: 39px;
  right: 12px;
  background-color: rgba(62, 62, 62, 0.5);
  padding: 10px;
  transition: all 0.5s;
}
