@font-face {
  font-family: 'Raleway500';
  src: url('./fonts/ralewaymedium.woff2') format('woff2'),
    url('./fonts/ralewaymedium.woff') format('woff'),
    url('./fonts/ralewaymedium.ttf') format('truetype'),
}

@font-face {
  font-family: 'Raleway400';
  src: url('./fonts/ralewayregular.woff2') format('woff2'),
    url('./fonts/ralewayregular.woff') format('woff'),
    url('./fonts/ralewayregular.ttf') format('truetype'),
}

@font-face {
  font-family: 'Raleway600';
  src: url('./fonts/ralewaysemibold.woff2') format('woff2'),
    url('./fonts/ralewaysemibold.woff') format('woff'),
    url('./fonts/ralewaysemibold.ttf') format('truetype'),
}

@font-face {
  font-family: 'Raleway300'; 
  src: url('./fonts/ralewaylight.woff2') format('woff2'),
    url('./fonts/ralewaylight.woff') format('woff'),
    url('./fonts/ralewaylight.ttf') format('truetype'),
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
